In [1]:
a = 'lie'
len(a)

3

In [2]:
a[0:2]

'li'

In [3]:
a[0:3]

'lie'

In [4]:
a = 'life is too short.'

In [5]:
a[:]

'life is too short.'

In [6]:
a[0:]

'life is too short.'

In [7]:
print('%s'%a)

life is too short.

In [8]:
print('%s' %(a))

life is too short.

In [34]:
for i in range(1,5) :
    print('')
    for j in range(1,i+1) :
        print('*')
        print('\t')

*


*

*


*

*

*


*

*

*

*

In [35]:
print('life \t is')

life 	 is

In [36]:
print('life \b')
print('is')

life 
is

In [37]:
print('life \n')
print('is')

life

is

In [39]:
pin = '881120-1068234'
pin.split('-')

['881120', '1068234']

In [41]:
a = 'a:b:c:d'
a.replace(':','#')

'a#b#c#d'

In [51]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [59]:
a = [1,2,3]
a.append(['a','b'])
a.append(5)
a

[1, 2, 3, ['a', 'b'], 5]

In [63]:
a = ['1','2','45','6','10','9','a','e','b','c']
a.sort()
a

['1', '10', '2', '45', '6', '9', 'a', 'b', 'c', 'e']

In [71]:
a.sort()
a

['1', '10', '2', '45', '6', '9', 'a', 'b', 'c', 'e']

In [73]:
a.index('9')

5

In [74]:
a.pop()

'e'

In [75]:
a

['1', '10', '2', '45', '6', '9', 'a', 'b', 'c']

In [76]:
d = a.pop()
d

'c'

In [80]:
a.append(d)
a

['1', '10', '2', '45', '6', '9', 'a', 'b', 'c', 'c', 'c', 'c']

In [81]:
#len은 전체 갯수, count()은 특정 문자의 갯수

In [82]:
#extend() 안에는 리스트만 올 수 있음.
#a.extend(b) 면 a 리스트에 b 리스트를 뒤쪽으로 더한다
#append와의 차이는 append는 리스트가 리스트 안에 들어가지만[1,2,3,[4,5,6,7]]
#extend는 아예 리스트 자체가 합쳐진다.[1,2,3,4,5,6,7]
a = [1,2,3]
b = [4,5,6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [83]:
#####################################################################
#튜플(Tuple)
#리스트와의 차이 : 튜플은 리스트와 달리 내부의 값을 수정 및 삭제할 수 없다
#또한 리스트는 []로 표기하지만 튜플은 ()로 표기한다.

In [88]:
t1 = ()
t2 = (1,) #튜플은 원소 하나를 담을 때 리스트와 달리 뒤에 쉼표를 무조건 찍는다.
t3 = (1,2,3)
t4 = 1,2,3 #또한 리스트와 달리 소괄호를 생략할 수도 있다.
t5 = ('a','b',('ab','bc'))

In [89]:
t1 = (1,2,'a','b')

In [90]:
t1[0:]

(1, 2, 'a', 'b')

In [91]:
t1[1:]

(2, 'a', 'b')

In [92]:
t1[-1]

'b'

In [93]:
t2+t3

(1, 1, 2, 3)

In [94]:
#########################################
#딕셔너리
#말 그대로 사전.(단어-뜻) : key 값과 value 값으로 구성
#딕셔너리는 리스트나 튜플과 달리 순서가 없다.
#표기법은 {}로 표현한다. -> {key1:value1, key2:value2......}

In [96]:
a = {1 : 'hi'}
b = {2 : ['a','b']}
c = {3 : ('abc','def')}
a,b,c

({1: 'hi'}, {2: ['a', 'b']}, {3: ('abc', 'def')})

In [98]:
a[2] = 'b' #튜플과 달리 리스트처럼 추가 가능하다
a

{1: 'hi', 2: 'b'}

In [99]:
a['name'] = 'pey' #key 값으로 문자나 숫자가 다 올 수 있다.
a

{1: 'hi', 2: 'b', 'name': 'pey'}

In [100]:
del a[1] #딕셔너리에서 삭제할 때는 del 딕셔너리명[해당 key값] 의 형태로 제거
a

{2: 'b', 'name': 'pey'}

In [101]:
a['name'] #딕셔너리에서 value 값을 뽑을 때는 딕셔너리명[뽑으려는 value의 key값] 형태로 사용

'pey'

In [105]:
dic1 = {'루피' : '고무고무열매', '버기' : '동강동강열매', '에넬' : '쿠릉쿠릉열매'}
dic1['루피'], dic1['버기'], dic1['에넬']

('고무고무열매', '동강동강열매', '쿠릉쿠릉열매')

In [111]:
a = {1:2,1:3,1:4} #딕셔너리는 순서가 없으므로 key값이 중복될경우 하나만을 표시하고 나머지는 표시하지 않는다.
a

{1: 4}

In [118]:
#딕셔너리에서 key 값만 뽑기
dic1.keys() 
#딕셔너리에서 value 값만 뽑기
dic1.values()
#key, value 쌍으로 뽑기(튜플로 묶어서 뽑기)
dic1.items()

dic1.keys(), dic1.values(), dic1.items()

(dict_keys(['루피', '버기', '에넬']),
 dict_values(['고무고무열매', '동강동강열매', '쿠릉쿠릉열매']),
 dict_items([('루피', '고무고무열매'), ('버기', '동강동강열매'), ('에넬', '쿠릉쿠릉열매')]))

In [123]:
#key, value 쌍 모두 지우기
dic1.clear()
dic1

{}

In [127]:
#해당 key 가 딕셔너리 안에 있는지 조사(in)
dic1 = {'루피' : '고무고무열매', '버기' : '동강동강열매', '에넬' : '쿠릉쿠릉열매'}
'루피' in dic1,'크로커다일' in dic1

(True, False)

In [128]:
#####################################3
#집합 자료형
#특징 : 중복이 없고, 순서가 없다.(=인덱싱/슬라이싱 불가능)

In [130]:
s2 = set('hello')
s2

{'e', 'h', 'l', 'o'}

In [131]:
s = set()

In [132]:
s

set()

In [133]:
t1 = tuple(s)  #튜플 혹은 리스트에 넣으면 그대로 형태가 튜플 혹은 리스트로 변화한다

In [134]:
t1

()

In [137]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1&s2  #set 간의 교집합 구하기(and)
s1|s2  #set 간의 합집합 구하기(or)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [138]:
s1.intersection(s2)  #intersection은 교집합을 구하는 함수

{4, 5, 6}

In [139]:
s2.intersection(s1)

{4, 5, 6}

In [140]:
s1.union(s2)   #union은 합집합을 구하는 함수

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [141]:
s2.union(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [142]:
s2 - s1

{7, 8, 9}

In [143]:
s1 - s2

{1, 2, 3}

In [144]:
s1 = set([1,2,3])
s1.add(4)  #set 안에 값 '하나' 추가

In [145]:
s1

{1, 2, 3, 4}

In [149]:
s1.update([4,5,6])  #set 안에 값 여러개 추가

s1

In [150]:
s1

{1, 2, 3, 4, 5, 6}

In [151]:
s1.remove(2)  #set 안에서 특정 값 제거

In [152]:
s1

{1, 3, 4, 5, 6}

In [157]:
#######################################
#불 자료형
# True(참) of False(거짓). 오직 2개의 값만 있음.
a = True
b = False
a|b, a&b, type(a), type(b)

(True, False, bool, bool)

In [160]:
1 == 1, 1 > 1, 2 > 1

(True, False, True)

In [175]:
bool('python'), bool([])
# '', [],{},() 은 거짓(False)을 의미한다.
# 대신 '1', (1,2,3),{['a','b']}와 같이 안에 값이 있으면 진실(True)이 된다.

(True, False)

In [165]:
#############################################
#while문

In [169]:
a = [1,2,3,4]
while a :           #a는 값이 있으므로 true가 되어 while a 라고 쓰면 true 인 동안이라고 해석할 수 있다.
    print(a.pop())  #pop은 a에서 마지막 것을 뽑아 쓰므로 4,3,2,1 순으로 모두 뽑은 순간 []이 되어 false가 되므로 끝난다.

4
3
2
1

In [178]:
bool(' '), bool(3), bool(False), bool([])

(True, True, False, False)

In [182]:
(80+75+55) / 3

70.0

In [183]:
a = 13
if a % 2 == 0 :
    print('짝수입니다')
else : 
    print('홀수입니다')

홀수입니다

In [185]:
a = '881120-1068234'
a.split('-')

['881120', '1068234']

In [192]:
a.split('-')[1][0]

'1'

In [193]:
#######################################
#if 문
#구조 -   if 조건문 :
#             수행할 문장들....
#         else if 조건문 :
#             수행할 문장들...
#             ...
#         else :
#             수행할 문장들

In [194]:
#비교연산자
# x == y 는 x와 y가 같다는 의미. x = y라고 하면 y를 x에 집어넣는다는 의미이다.
# x != y 는 x와 y가 다르다는 의미.

In [195]:
money = 2000
card = True

if money >= 3000 or card :
    print('택시')
else : 
    print('걷기')

택시

In [196]:
1 in [1,2,3]

True

In [197]:
1 not in [1,2,3]

False

In [206]:
pocket = ['paper', 'handphone']

if 'money' in pocket : print('택시를 타라')
elif card : print('택시') 
else : print('걸어가라')

택시

In [208]:
score = 70

if score >= 60 :
    message = 'success'
else :
    message = 'fail'
    
message = 'success' if score >= 60 else 'fail'  #if문을 간략화

print(message)

success

In [209]:
#############################################
# while 문

In [211]:
treeHit = 0 
while treeHit < 10 :
    treeHit = treeHit + 1
    print('나무를 %d번 찍었습니다' % treeHit)
    if treeHit >= 10 :
        print('나무가 넘어갑니다.')

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무가 넘어갑니다.

In [214]:
#while 문은 정확히 몇 번 반복시킬 지 모를 때 사용
#for 문은 몇번 반복시킬 지 알 때 사용

prompt = """
1. Add
2. Del
3. List
4. Quit
...
Enter number
"""

number = 0
while number != 4 :
    print(prompt)
    number = int(input("입력 : "))

1. Add
2. Del
3. List
4. Quit
...
Enter number

입력 : 1

1. Add
2. Del
3. List
4. Quit
...
Enter number

입력 : 2

1. Add
2. Del
3. List
4. Quit
...
Enter number

입력 : 3

1. Add
2. Del
3. List
4. Quit
...
Enter number

입력 : 4

In [ ]:
#while문 강제로 빠져나가기 : break

In [215]:
coffee = 10
money = 300

while money :
    print('돈을 받았으니 커피를 줍니다.')
    coffee = coffee - 1
    print('남은 커피의 양은 %d잔 입니다.' % coffee)
    if coffee == 0 :
        print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0잔 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [216]:
coffee = 10

while True :
    money = int(input('돈을 넣어 주세요 : '))
    if money == 300 :
        print('커피를 줍니다.')
        coffee -= 1
    elif money > 300 :
        print('거스름돈 %d를 주고 커피를 줍니다.'% (money - 300))
        coffee -= 1
    else :
        print('돈을 다시 돌려주고 커피를 주지 않습니다.')
        print('남은 커피의 양은 %d개 입니다.' % coffee)
    if coffee == 0 :
        print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
        break

돈을 넣어 주세요 : 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요 : 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 9개 입니다.
돈을 넣어 주세요 : 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요 : 700
거스름돈 400를 주고 커피를 줍니다.
돈을 넣어 주세요 : 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 7개 입니다.
돈을 넣어 주세요 : 300
커피를 줍니다.
돈을 넣어 주세요 : 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 6개 입니다.
돈을 넣어 주세요 : 150
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 6개 입니다.
돈을 넣어 주세요 : 600
거스름돈 300를 주고 커피를 줍니다.
돈을 넣어 주세요 : 700
거스름돈 400를 주고 커피를 줍니다.
돈을 넣어 주세요 : 10
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.
돈을 넣어 주세요 : 50
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.
돈을 넣어 주세요 : 70
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.
돈을 넣어 주세요 : 30
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.
돈을 넣어 주세요 : 90
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.
돈을 넣어 주세요 : 150
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.
돈을 넣어 주세요 : 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.
돈을 넣어 주세요 : 800
거스름돈 500를 주고 커피를 줍니다.
돈을 넣어 주세요 : 40
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 3개 입니다.
돈을 넣어 주세요 : 700
거스름돈 400를 주고 커피를 줍니다.
돈을 넣어 주세요 : 30
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 2개 입니다.
돈을 넣어 주세요 : 600
거스름돈 300를 주고 커피를 줍니다.
돈을 넣어 주세요 : 20
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 1개 입니다.
돈을 넣어 주세요 : 500
거스름돈 200를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [217]:
#while 문의 맨 처음으로 돌아가기 : continue 사용

In [222]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 != 0 : continue
    print(a)

2
4
6
8
10

In [223]:
###############################################
# for 문

In [224]:
test_list = ['one', 'two', 'three']

for i in test_list : #리스트의 첫번째 one이 i변수에 대입된 후 print(i) 문장을 수행. 두번째, 세번째도 반복.(i는 여기서 변수일 뿐이다)
    print(i)

one
two
three

In [226]:
a = [(1,2),(3,4),(5,6)]

for (first, last) in a :
    print(first+last)

3
7
11