In [2]:
a = [1,2,3,4,43,67,234,13,436,74536]
a[0:2] #a[0:2]이면 a[0]이상 a[2] 미만까지의 값
a[0:4]

[1, 2, 3, 4]

In [4]:
a = '''
1. hello
2. hi
3. gonnichiwa
4. annyeonghaseyo

enter numbers!
'''

# number = 0
# while number != 4 :
#     print(a)
#     number = int(input('number : '))

In [9]:
a.find('13')

-1

In [14]:
a = [1,2,3,4,43,67,234,13,436,74536]
a.index(43)

4

In [15]:
#set 자료형은 중복이 허용되지 않으며, 순서도 없다.(=인덱싱을 지원하지 않는다)

TypeError: set expected at most 1 argument, got 3

In [24]:
a = 0

while a < 10 :
    a = a + 1
    print(a)
    
    
for i in range(1,11) :
    print(i)

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [25]:
m = [90,25,67,45,80]
number = 0

for mark in m :
    number = number + 1
    if mark >= 60 :
        print('%d번 학생은 합격.' % number)
    else :
        print('%d번 학생은 불합격' % number)

1번 학생은 합격.
2번 학생은 불합격
3번 학생은 합격.
4번 학생은 불합격
5번 학생은 합격.

In [30]:
#################################################
#for 문

In [ ]:
#for 문에서 range(a,b) 이면 a 이상 b '미만'의 범위이다.
# 즉 range(1,10)이면 1 이상 10 미만(=9) 의 범위를 의미한다

In [31]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [50]:
for i in range(1,11) :
    if i % 2 != 0 :
        print(i)
        
# for i in range(1,11,2) :
#     print(i)

1
3
5
7
9

In [33]:
for i in range(11) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [38]:
for i in range(2,10) : 
    for j in range(2,10) :
#         print('{} * {} = {}'.format(i,j,i*j))
        print(i*j, end=" ")  #end=" "를 쓰는 건 다음 줄로 넘기지 않고 스페이스바를 통해 계속 같은 줄에 쓰기 위해서
    print('\n')

4 6 8 10 12 14 16 18

6 9 12 15 18 21 24 27

8 12 16 20 24 28 32 36

10 15 20 25 30 35 40 45

12 18 24 30 36 42 48 54

14 21 28 35 42 49 56 63

16 24 32 40 48 56 64 72

18 27 36 45 54 63 72 81

In [41]:
for i in range(2,10) :
    for j in range(2,10) :
        print('%d * %d = %d' %(i,j,i*j),end=' ')
    print('')

2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [52]:
a = [1,2,3,4]
result = [num*3 for num in a]
result

[3, 6, 9, 12]

In [71]:
a = 1
sum = 0

while a <= 1000 :
    if a % 3 == 0 : #3의 배수인지 확인
        sum = sum + a
    a = a + 1
print(sum)

166833

In [91]:
a = 1
while a <= 5 :
    print('*' * a)
    a = a + 1
    
while True : 
    a = a + 1
    if i > 5 : 
        break
    print(i * '*')

*
**
***
****
*****

In [96]:
# A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

# [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

# for문을 사용하여 A 학급의 평균 점수를 구해 보자.

a = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0

for i in a :
    sum = sum + i
    print(i,sum)
print('평균 :',sum/len(a))

70 70
60 130
55 185
75 260
95 355
90 445
80 525
80 605
85 690
100 790
평균 : 79.0

In [94]:
# for 문을 사용해 1부터 100까지의 합 출력
sum = 0
for i in range (1,101) :
    sum = sum + i
    if i >= 2 :
        print('1에서 %d까지의 합 : %d' % (i,sum))

1에서 2까지의 합 : 3
1에서 3까지의 합 : 6
1에서 4까지의 합 : 10
1에서 5까지의 합 : 15
1에서 6까지의 합 : 21
1에서 7까지의 합 : 28
1에서 8까지의 합 : 36
1에서 9까지의 합 : 45
1에서 10까지의 합 : 55
1에서 11까지의 합 : 66
1에서 12까지의 합 : 78
1에서 13까지의 합 : 91
1에서 14까지의 합 : 105
1에서 15까지의 합 : 120
1에서 16까지의 합 : 136
1에서 17까지의 합 : 153
1에서 18까지의 합 : 171
1에서 19까지의 합 : 190
1에서 20까지의 합 : 210
1에서 21까지의 합 : 231
1에서 22까지의 합 : 253
1에서 23까지의 합 : 276
1에서 24까지의 합 : 300
1에서 25까지의 합 : 325
1에서 26까지의 합 : 351
1에서 27까지의 합 : 378
1에서 28까지의 합 : 406
1에서 29까지의 합 : 435
1에서 30까지의 합 : 465
1에서 31까지의 합 : 496
1에서 32까지의 합 : 528
1에서 33까지의 합 : 561
1에서 34까지의 합 : 595
1에서 35까지의 합 : 630
1에서 36까지의 합 : 666
1에서 37까지의 합 : 703
1에서 38까지의 합 : 741
1에서 39까지의 합 : 780
1에서 40까지의 합 : 820
1에서 41까지의 합 : 861
1에서 42까지의 합 : 903
1에서 43까지의 합 : 946
1에서 44까지의 합 : 990
1에서 45까지의 합 : 1035
1에서 46까지의 합 : 1081
1에서 47까지의 합 : 1128
1에서 48까지의 합 : 1176
1에서 49까지의 합 : 1225
1에서 50까지의 합 : 1275
1에서 51까지의 합 : 1326
1에서 52까지의 합 : 1378
1에서 53까지의 합 : 1431
1에서 54까지의 합 : 1485
1에서 55까지의 합 : 1540
1에서 56까지의 합 : 1596
1에서 57까지의 합 : 1653
1에서 58까지의 합 : 1711
1에서 59까지의 합 : 1770
1에서 60까지의 합 : 1830
1에서 61까지의 합 : 1891
1에서 62까지의 합 : 1953
1에서 63까지의 합 : 2016
1에서 64까지의 합 : 2080
1에서 65까지의 합 : 2145
1에서 66까지의 합 : 2211
1에서 67까지의 합 : 2278
1에서 68까지의 합 : 2346
1에서 69까지의 합 : 2415
1에서 70까지의 합 : 2485
1에서 71까지의 합 : 2556
1에서 72까지의 합 : 2628
1에서 73까지의 합 : 2701
1에서 74까지의 합 : 2775
1에서 75까지의 합 : 2850
1에서 76까지의 합 : 2926
1에서 77까지의 합 : 3003
1에서 78까지의 합 : 3081
1에서 79까지의 합 : 3160
1에서 80까지의 합 : 3240
1에서 81까지의 합 : 3321
1에서 82까지의 합 : 3403
1에서 83까지의 합 : 3486
1에서 84까지의 합 : 3570
1에서 85까지의 합 : 3655
1에서 86까지의 합 : 3741
1에서 87까지의 합 : 3828
1에서 88까지의 합 : 3916
1에서 89까지의 합 : 4005
1에서 90까지의 합 : 4095
1에서 91까지의 합 : 4186
1에서 92까지의 합 : 4278
1에서 93까지의 합 : 4371
1에서 94까지의 합 : 4465
1에서 95까지의 합 : 4560
1에서 96까지의 합 : 4656
1에서 97까지의 합 : 4753
1에서 98까지의 합 : 4851
1에서 99까지의 합 : 4950
1에서 100까지의 합 : 5050

In [ ]:
################################################
#함수

In [99]:
def add(a,b) :
    return a+b

add(3,-3)
a = 3
b = 4
c = add(a,b)
c

7

In [102]:
#여러 개의 입력값을 받는 함수 만들기
def add_many(*args) : #args : 관용구
    result = 0
    for i in args : 
        result = result + i
    return result

result = add_many(1,2,3,4,5,6)
print(result)

21

In [110]:
def add_mul(choice, *args) :
    if choice == "add" :
        result = 0
        for i in args :
            result = result + i
    elif choice == "mul" :
        result = 1
        for i in args :
            result = result * i
    return result

In [113]:
result = add_mul('add', 2,3,4,5)
result

14

In [114]:
#함수의 결과값은 언제나 하나다

def func(a,b) :
    return a+b, a*b

func(3,4)
#이와 같이 return 값이 하나 이상이라 하면 튜플로 엮어서 하나로 계산된다.

(7, 12)

In [117]:
a,b = func(3,4)
print(a,b)
#이와 같이 튜플 값을 결과값으로 받으려면 return 값 개수만큼의 추가 변수를 지정하여 받아낸다.

7 12

In [118]:
def func(a,b):
    return a+b
    return a*b

func(3,4)
#이런 식으로 return 자체를 여러 개 쓰더라도 맨 처음 나온 return 값만을 반환하고 함수를 빠져나간다.

7

In [134]:
#매개변수에 초기값을 미리 설정하는 방법.
#초기값 설정은 맨 뒤로 가야 한다.
#예를 들어 say(name, man=True, old)와 같은 형태로 쓰면 안된다.

def say(name,old,man=True) :
    print('이름 : %s' % name)
    print('나이 : %d' % old)
    if man : 
        print('남자입니다')
    else :
        print('여자입니다')
        
say('김효중', 29)

이름 : 김효중
나이 : 29
남자입니다

In [133]:
#함수 안과 밖에서의 변수 관계

a = 1
def vartest(a):
    a = a + 1
    
vartest(a)
print(a)
#이와 같이 함수 안에서의 변수는 함수에서만 사용 가능한 함수만의 변수, 즉 지역변수이다.

1

In [ ]:
# 지역 변수 : 특정 범위(함수 내부)에서만 응용
# 전역 변수 : 전체 범위에서 통용됨

In [138]:
def vartest(a):
    a = a + 1

In [136]:
vartest(3)

In [140]:
print(a)

1

In [141]:
a = 1
def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

2

In [144]:
#lambda 함수 사용

add = lambda a,b : a+b

result = add(3,4)
result

7

In [145]:
a = input()

16

In [147]:
type(a)

str

In [151]:
for i in range(10):
    print(i,end='\n')
    print(i,end=' ')

0
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9

In [ ]:
##################################
#파일 읽고 쓰기
#파일 객체 = open(파일 이름, 파일 열기 모드('r','s'등등))

In [152]:
# f = open('새파일.txt','w')
# f.close()

In [ ]:
#cmd 명령어

# dir : 디렉토리 안에 있는 파일의 목록 확인
# cd 디렉토리명 : 특정 디렉토리 안으로 이동 
# cd.. : 디렉토리에서 빠져 나올때
# md 디렉토리명 : 디렉토리 만들기
# type 파일명.파일형태 : 해당 파일 열기

In [153]:
f = open('새파일.txt','w')
for i in range(1,10):
    data = '%d번째 줄입니다. \n' % i
    f.write(data)
f.close()

In [154]:
f = open('새파일.txt', 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [155]:
f = open('새파일.txt','r')
while True :  #끝날 때까지 무한 반복
    line = f.readline()  #readline을 이용해 파일을 한줄씩 읽어들인다
    if not line : break
    print(line)
    
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [156]:
f = open('새파일.txt','r')
lines = f.readlines()
for line in lines :
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [157]:
f = open('새파일.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.

In [159]:
#쓰기 모드로 파일을 열때 이미 존재하는 파일을 열면 그 파일의 내용은 모두 삭제된다.
#원래 있던 값을 유지하면서 새로운 값을 추가하려면 파일 추가 모드('a')를 사용한다.

f = open('새파일.txt','a')
for i in range(11,20):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

In [ ]:
# dos 명령어를 사용해서 새 파일.txt를 열어서 확인하세요

In [161]:
# Q1
# 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

def is_odd(a):
    if a % 2 == 0 :
        message = '짝수입니다.'
    else :
        message = '홀수입니다.'
    return message

is_odd(9)

'홀수입니다.'

In [166]:
# Q2
# 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)
# ※ 평균 값을 구할 때 len 함수를 사용해 보자.

def cals(*args) :
    sum = 0
    for i in args :
        sum = sum + i
    return sum/len(args)

cals(6,6,6,3,3,3)

4.5

In [172]:
# 다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

# input1 = input("첫번째 숫자를 입력하세요:")
# input2 = input("두번째 숫자를 입력하세요:")

# total = input1 + input2
# print("두 수의 합은 %s 입니다" % total)
# 이 프로그램을 수행해 보자.

# 첫번째 숫자를 입력하세요:3
# 두번째 숫자를 입력하세요:6
# 두 수의 합은 36 입니다
# 3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다. 이 프로그램의 오류를 수정해 보자.

input1 = int(input('첫번쨰 숫자를 입력하세요 : '))
input2 = int(input('두번째 숫자를 입력하세요 : '))

total = input1 + input2
total

첫번쨰 숫자를 입력하세요 : 3
두번째 숫자를 입력하세요 : 4

7

In [193]:
# 다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.

# f1 = open("test.txt", 'w')
# f1.write("Life is too short")

# f2 = open("test.txt", 'r')
# print(f2.read())
# 이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다. 우리가 예상한 값을 출력할 수 있도록 프로그램을 
# 수정해 보자.

f1 = open("test.txt", 'w')
f1.write("Life is too short")

f2 = open("test.txt", 'r')
print(f2.read())

Life is too short

In [201]:
# 사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자. 
# (단 프로그램을 다시 실행하더라도 기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)

f = open('test.txt','w')
data = input('입력하세요 : ')
f.write(data)

# g = open('test.txt','r')
# g.read(), data

입력하세요 : 안녕하냐 나 김두한

10

In [187]:
print("".join(["you", "need", "python"]))

youneedpython

In [195]:
f = open("newfile.txt","w")
for i in range(1,11):
    data = "This is %d line ." % i
    f.write(data)
f.close()

In [204]:
5 % 4

1