<a href="https://colab.research.google.com/github/hyojk2001/Python-basic/blob/main/0312_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#해당 튜플에서 중복을 제거

people = [
          ('이호준', '01050442903'),
          ('이호상', '01051442904'),
          ('이준호', '01050342904'),
          ('이호준', '01050442903'),
          ('이준', '01050412904'),
          ('이호', '01050443904'),
          ('이호준', '01050442903')
]

p = set(people)
print(p)
print(len(p))

{('이준', '01050412904'), ('이호준', '01050442903'), ('이준호', '01050342904'), ('이호상', '01051442904'), ('이호', '01050443904')}
5

'01050412904'

In [16]:
#대문자는 소문자, 소문자는 대문자로 출력

a = input()   #입력
b = ''        #새로 받을 문자열 초기화
for i in a:   #a 안의 글자들을 하나씩 받는다
  if i.isupper():           #그 글자가 대문자면
    b = b + i.lower()       #소문자로 변환해서 문자열에 더해준다
  elif i.islower():         #그 글자가 소문자면
    b = b + i.upper()       #대문자로 변환해서 문자열에 더한다

print(b)

aaBBccc
AAbbCCC

In [17]:
a = input()
a.swapcase()

aabbCC

'AABBcc'

In [35]:
#최대값 뽑기

a = list(map(int,input().split()))    #공백 단위로 숫자 입력받기

sorted(a)[len(a)-1]            #정렬된 리스트의 마지막이 제일 크다

10 2 3 6 8 9 2 1

10

In [42]:
#이름순으로 정렬하여 출력

student = ['강은지','김유정','박현서','최성훈','홍유진','박지호', '권윤일',
           '김채리', '한지호','김진이','김민호','강채연']

for i in range(len(student)):
  print('번호 : {}, 이름 : {}'.format(i+1, sorted(student)[i]))

번호 : 1, 이름 : 강은지
번호 : 2, 이름 : 강채연
번호 : 3, 이름 : 권윤일
번호 : 4, 이름 : 김민호
번호 : 5, 이름 : 김유정
번호 : 6, 이름 : 김진이
번호 : 7, 이름 : 김채리
번호 : 8, 이름 : 박지호
번호 : 9, 이름 : 박현서
번호 : 10, 이름 : 최성훈
번호 : 11, 이름 : 한지호
번호 : 12, 이름 : 홍유진

In [56]:
student = ['강은지','김유정','박현서','최성훈','홍유진','박지호', '권윤일',
           '김채리', '한지호','김진이','김민호','강채연']

for i,j in sorted(enumerate(student)):
  print('번호 : {}, 이름 : {}'.format(i+1,j))

번호 : 1, 이름 : 강은지
번호 : 2, 이름 : 김유정
번호 : 3, 이름 : 박현서
번호 : 4, 이름 : 최성훈
번호 : 5, 이름 : 홍유진
번호 : 6, 이름 : 박지호
번호 : 7, 이름 : 권윤일
번호 : 8, 이름 : 김채리
번호 : 9, 이름 : 한지호
번호 : 10, 이름 : 김진이
번호 : 11, 이름 : 김민호
번호 : 12, 이름 : 강채연

In [75]:
ord(';')

59

In [80]:
a = list(input().split()) #띄어쓰기 기준 입력 받아 리스트로 변경

for i in a:               #리스트 안에서 하나씩 꺼내온다
  print(i[0], end='')     #리스트 안 단어들의 맨 첫글자를 출력

술 졸라 쳐먹고 뒈져 버릴테다
술졸쳐뒈버

In [94]:
print(str(len(input()))+'자리수')   #input을 받아 길이를 구하고 이를 문자형으로 치환하면 몇자리 수인지 확인가능

-20
3자리수

In [93]:
# a = int(input())

# if a < 0:
#   print('잘못된 입력입니다')
# else:
#   print('{}자리 수'.format(len(str(a))))

-1
잘못된 입력입니다

In [111]:
a = list(input().split())   #띄어쓰기를 기준으로 구분해 입력받아 리스트
b = 0                       #글자수 구하는 거 초기화

for i in a:                 #리스트를 보면서
  b = b + len(i)            #각 인자의 글자개수를 계속 더한다

print(b)

공백을 제외한 글자수만을 세는 코드 테스트
18

In [114]:
a = input()
print(len(a.replace(' ','')))

공백을 제외한 글자수만을 세는 코드 테스트
18