<a href="https://colab.research.google.com/github/hyojk2001/Python-basic/blob/main/0414_algo%2Bquiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
def is_prime(a):
  for i in range(2,a):
    n = a % i
    if n != 0:
      print('%d은(는) 소수입니다' % a)
      return True
      break
    else:
      print('%d은(는) 소수가 아닙니다' % a)
      return False

print(is_prime(14))
print(is_prime(7))
print(is_prime(13))
print(is_prime(31))

14은(는) 소수가 아닙니다
False
7은(는) 소수입니다
True
13은(는) 소수입니다
True
31은(는) 소수입니다
True

In [ ]:
#101이하의 숫자 중 소수인 숫자 찾기
a = range(1,101)
prime_numbers = []
for i ina:
  c = is_prime(i)
  if c == True:
    prime_numbers.append(i)

print(prime_numbers)

In [26]:
# n이하의 수 중에서 소수의 갯수 찾기

def solution(n):
  answer = 0
  number = []

  for i in range(n+1):
    number.append(i)    #n까지의 모든 수를 number 리스트에 담기

  # 소수 찾기. 아닌 곳에는 -1을 넣기
  for i in range(2,n+1,1):
    if i == -1:
      continue
    j = 0
    for j in range(i+i, n+1, i):
      number[j] = -1    # 소수가 아닌 방에는 -1을 담음(-1은 소수가 아님을 표시)
  
  # -1이 아닌 것의 갯수 세기
  for i in range(2,n+1):
    if number[i] != -1:
      answer += 1
  return answer

solution(5)

3

In [29]:
# N이하의 정수 중에서 소수인 것 출력
def solution(n):
  answer = []
  number = []

  for i in range(n+1):
    number.append(i)    #n까지의 모든 수를 number 리스트에 담기

  # 소수 찾기. 아닌 곳에는 -1을 넣기
  for i in range(2,n+1,1):
    if i == -1:
      continue
    j = 0
    for j in range(i+i, n+1, i):
      number[j] = -1    # 소수가 아닌 방에는 -1을 담음(-1은 소수가 아님을 표시)
  
  # -1이 아닌 것의 갯수 세기
  for i in range(2,n+1):
    if number[i] != -1:
      answer.append(number[i])
  return answer

solution(18)

[2, 3, 5, 7, 11, 13, 17]

In [ ]:
# ALGORITHM HOMEWORK(#28)
# 아마존 면접문제
# 다음과 같은 형태의 배열을
# [a1,a2,a3...,an,b1,b2...bn]
# 다음과 같은 형태로 바꾸시오
# [a1,b1,a2,b2.....an,bn]

In [95]:
a = ['a1', 'a2', 'a3', 'a4', 'an', 'b1', 'b2', 'bn']
b = []
#a1,b1과 같이 숫자가 있는 항들을 먼저 정렬
for i in range(len(a)): # 반복문 시작
  for j in a:           # a 하나씩 떼어서 비교(j)
    if str(i+1) in j:   # 정수 i+!(1,2,3..)이 j 안에 있으면
      b.append(j)       # b에 집어넣어서 숫자가 포함된 항을 만들고 정렬

#숫자가 없고 문자만 있는 항들의 정렬
c = []                  # 문자만 있는 항들을 넣을 리스트
for i in a:             # 하나씩 비교
  if i.isalpha():       # 해당 항이 다 알파벳이면
    c.append(i)         # c에다 하나씩 집어넣는다

b.extend(sorted(c))     # 미리 만들어놓은 숫자포함 b에다 문자만있는 c를 extend로 추가
print(b)

['a1', 'b1', 'a2', 'b2', 'a3', 'a4', 'an', 'bn']

True