<a href="https://colab.research.google.com/github/hyojk2001/Python-basic/blob/main/0419_test%2BAlgo%2Bquiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class program:              # 클래스 지정
  def solution(a):          # 함수 지정
    b = []                  # 답에 넣을 새로 재배열될 행렬 초기화

    #a1,b1과 같이 숫자가 있는 항들을 먼저 정렬
    for i in range(len(a)): # 반복문 시작
      for j in a:           # a 하나씩 떼어서 비교(j)
        if str(i+1) in j:   # 정수 i+1(1,2,3..)이 j 안에 있으면
          b.append(j)       # b에 집어넣어서 숫자가 포함된 항을 만들고 정렬

    #숫자가 없고 문자만 있는 항들의 정렬
    c = []                  # 문자만 있는 항들을 넣을 리스트
    for i in a:             # 하나씩 비교
      if i.isalpha():       # 해당 항이 다 알파벳이면
        c.append(i)         # c에다 하나씩 집어넣는다

    b.extend(sorted(c))     # 미리 만들어놓은 숫자포함 b에다 문자만있는 c를 extend로 추가
    print('input : {}'.format(a))   # 인풋으로 입력받은 행렬 출력
    print('output : {}'.format(b))  # 최종적으로 재배열된 행렬 출력


me = program                                      # 클래스의 객체 지정
a = ['a1','a2','a3','an','b1','b2','b3','bn']     # solution에 넣을 행렬 지정
me.solution(a)                                    # 재배열된 행렬 출력

input : ['a1', 'a2', 'a3', 'an', 'b1', 'b2', 'b3', 'bn']
output : ['a1', 'b1', 'a2', 'b2', 'a3', 'b3', 'an', 'bn']

In [1]:
#최대공약수 구하는 알고리즘

In [17]:
def euclid(x,y):
  if x > y:
    t = x % y
  elif x < y:
    t = y % x

  while t != 0 :
    x, y = y, t
    if x > y:
      t = x % y
    elif x < y:
      t = y % x
  return y

print(euclid(8,12))
print(euclid(221,143))

4
13

In [23]:
def euclid(x,y):
  if x % y == 0:
    return y
  return euclid(x,x%y)        #재귀호출

print(euclid(12,8))
print(euclid(221,143))

4
13

In [ ]:
# input : n (행사에서 진행된 악수 횟수)
# output : [민규의 악수횟수, 행사참가자]
# print(solution(59)) 결과 : [4,12] - 민규는 4번의 악수를 했고, 민규를 포함찬 참가자는 12명

In [52]:
def solution(n):                     #함수 만들기
  for i in range(2,n):               #n명이 악수를 한다고 시작하면
    num = int(i*(i-1)/2)             #n명이 총 박수를 하는건 n각형의 총 선분 갯수와 같다
    mingyu = n - num                 #(전원의 악수 횟수) - (민규 제외한 모두의 악수횟수)
    if num >= n:                     #n명의 악수횟수가 악수횟수를 넘어서면
      break                          #맞지 않으므로 연산을 멈춘다
  total = i                          #이때의 i명이 민규를 포함한 총인원이 된다
  result_mingyu = int((i-1)*(i-2)/2) #민규의 악수횟수는 i 대신 (i-1)명을 num에 넣은 값과 같다
  return [n - result_mingyu, total]  #[총 악수 횟수 - 민규제외 악수횟수,  총 인원]

print(solution(59))

[4, 12]