<a href="https://colab.research.google.com/github/hyojk2001/Python-basic/blob/main/0511_test%2Bquiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
def solution(n):
  answer='1'
  if n == 1:
    return answer
  for i in range(1,n):
    answer = rule(answer)
  return answer

def rule(n):
  num_l = max([int(i) for i in n])
  d = [str(i)+str(str(n).count(str(i))) for i in range(1,num_l+1)]
  return ''.join(d)

solution(4)

'1121'

In [68]:
class program:                      # 클래스 정의
  def solution(n):                  # 최종 계산 함수 정의
    answer='1'                      # 기본값을 1로 놓는다
    if n == 1:                      # n값이 1이면
      return 'return = ' +answer    # 그냥 그대로 1 반환
    for i in range(1,n):            # n이 1보다 크면
      answer = rule(answer)         # 위 문제를 계산한 rule함수 값 반환
    return 'return = ' + answer     # 출력

  def rule(n):                                  # 문제를 계산할 rule 함수 정의
    num_l = max([int(i) for i in n])            # n부터 1까지 값 중 최대값인 n 계산
    d = [str(str(n).count(str(i)))+str(i) for i in range(num_l,0,-1)]
                                                # 'n부터 1까지의 각각 개수' + '해당 숫자'를 더해서 배열로 만든다
    return ''.join(d)                           # 이렇게 만들어진 배열을 맨 위에서부터 합해서 내려온다

a = program                    # 클래스 선언
print('n = 1')                 # n = 1이면
print(a.solution(1))           # 해당값이 1일때의 solution값 출력
print('n = 4')                 # n = 4면
print(a.solution(4))           # 해당값 4일때의 solution값 출력

n = 1
return = 1
n = 4
return = 1211

In [1]:
# ALGORITHM HOMEWORK (#42)
# 행복 왕국의 왕실 정원은 체스판과 같은 8*8 좌표 평면이다. 왕실 정원의 특정한 한칸에
# 나이크가 서 있다. 나이트는 매우 충성스러운 신하로서 매일 무술을 연마한다.
# 나이트는 말을 타고 있기 때문에 이동을 할 때는 L자 형태로만 이동할 수 있으며 정원
# 밖으로는 나갈 수 없다. 나이트는 특정한 위치에서 다음과 같은 2가지 경우로 이동할 수
# 있다.
# 1. 수평으로 두칸 이동한 뒤에 수직으로 한칸 이동하기
# 2. 수직으로 두칸 이동한 뒤에 수평으로 한칸 이동하기
# 8*8 좌표 평면상에 나이트의 위치가 주어졌을 때 나이트가 이동할 수 있는 경우의 수를
# 출력하는 프로그램을 작성하시오. 왕실의 정원에서 행 위치를 표현할 때는 1부터 8로
# 표현하며 열 위치를 표현할 때는 a부터 h로 표현한다.
# 입력 조건 : 첫째 줄에 8*8좌표 평면상에서 현재 나이트가 위치한 곳의 좌표를 나타내는 두
# 문자로 구성된 문자열이 입력된다. 입력 문자는 a1처럼 열과 행으로 이루어진다.
# 출력 조건 : 첫째 줄에 나이트가 이동할 수 있는 경우의 수를 출력하시오.

# 입력예시 : a1
# 출력예시 : 2

In [45]:
def solution(a):
  n = 8   # 8*8 체스판의 한 변의 길이
  row = ord(a[0]) - ord('a') + 1 
  # 행(a,b,c,d,e,f,g,h)의 아스키숫자 변환 후 a값만큼 뺀 뒤 + 1을 하면 1번째가 a, 2번째가 b....8이면 h가 된다.
  col = int(a[1])  #열의 자리번호
  cnt = 0   #해당 자리에서 갈 수 있는 방법 갯수 초기화

  #하나의 점에서 할 수 있는 모든 범위의 표현식(16개) 구하기
  a,b = [1,-1],[2,-2]
  c = []
  for i in a:
    for j in b:
      c.append([i+row,j+col])   #c 안쪽 리스트의 [0]은 row에 해당하는 연산 숫자
      c.append([j+row,i+col])   #c 안쪽 리스트의 [1]은 col에 해당하는 연산 숫자로 놓는다
  for k in c:
    if 1 <= k[0] <= 8 and 1 <= k[1] <= 8:   # 계산한 x좌표, y좌표가 1부터 8 사이면
      cnt += 1        # 가능한 길이므로 카운터 + 1
    else:             # 아니면
      pass            # 패스한다
  return cnt          # 이렇게 구한 카운터 값 반환

print(solution('a1'))
print(solution('a8'))
print(solution('g6'))
print(solution('d4'))

2
2
6
8

In [14]:
type(ord('a'))

int

In [17]:
a,b = [1,-1],[2,-2]
c = []
for i in a:
  for j in b:
    c.append([i,j])
    c.append([j,i])

c[7][1]

-1

In [21]:
a = 'a1'
b = ord(a[0])-ord('a')+1
b

1

In [37]:
a,b = [1,-1],[2,-2]
row,col = 3,4
c = []
for i in a:
  for j in b:
    c.append([i+row,j+col])   #c 안 리스트의 [0]은 row에 해당하는 연산 숫자
    c.append([j+row,i+col])   #c 안쪽 리스트[1]은 col에 해당하는 연산 숫자로 놓는다
c

[[4, 6], [5, 5], [4, 2], [1, 5], [2, 6], [5, 3], [2, 2], [1, 3]]