<a href="https://colab.research.google.com/github/hyojk2001/Python-basic/blob/main/0526.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class program:              # 클래스 생성
  def solution(n,k):        # 함수 생성
    print('n = ', n, ' k = ', k)    #받은 n, k를 출력
    if n == 0 or k == 0:    # 만약에 입력받는 색이나 기둥이 0이면
      return 0              # 0을 반환

    a = [0 for i in range(n+1)]   # 그게 아닌 일반적인 경우에는 0을 n+1개만큼 생성한다
    a[0] = k                # n이 1개일때 k개의 색으로 만들수 있는 경우는 k개이다
    a[1] = k*k              # n이 2개일때 1개일 때의 제곱이므로 k*k이다

    for i in range(2,n):    # 기둥이 3개 이상일때 k개의 색으로 만들수 있는 경우의 수는
      a[i] = (k-1)*(a[i-1] + a[i-2])  # 그 전 k-1개의 색깔 경우의 수에
                                      # 기둥이 하나 없을때 + 기둥이 2개 없을때의 경우의수와 같다
    return a[n-1]           # 그렇게 만든 리스트의 마지막 수 반환         

p = program
print(p.solution(3,2))
print(p.solution(1,1))
print(p.solution(7,2))

n =  3  k =  2
6
n =  1  k =  1
1
n =  7  k =  2
42

In [ ]:
c = [0] * 4
d = [0 for i in range(4)]
print(c,d)

[0, 0, 0, 0] [0, 0, 0, 0]

In [ ]:
a = [1]
a.extend([0 for i in range(5)])
a

[1, 0, 0, 0, 0, 0]

In [ ]:
# 어글리 넘버는 1과 소수 2, 3, 5의 배수로 제한된 양의 정수입니다.
# 정수 n이 지정되면 n번째 어글리 넘버를 반환합니다.

# [1,2,3,4,5,6,8,9,10,12 … ]

# Input : n = 10
# Output : 12
# Input : n = 12
# Output : 16
# Input : n = 15
# Output : 24

In [ ]:
n = int(input('input = '))
a = [1]
b = 0

for i in range(2,n*n):
  if i % 2 == 0:
    b = int(i / 2)
    continue
    if b == 1:
      a.append(b)
    else:
      b = int(b / 3)
      continue
      if b == 1:
        a.append(b)
      else:
        b = int(b / 5)
        continue
        if b == 1:
          a.append(b)
        else:
          pass

print(a)
# print(a[n-1])

input = 10
[1]

In [ ]:
n = 10
a = [1]

for i in range(2,n*2):
  if i % 3 == 0:
    a.append(i)
    continue
  else:
    pass
a

[1, 3, 6, 9, 12, 15, 18]

In [ ]:
n = int(input('input = '))
a = [1]
b = 0

for i in range(2,n*n):
  b = i//2
  

print(a)
# print(a[n-1])

input = 10
[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [ ]:
7//2

3

In [ ]:
n = 840
k = 2
cnt = 0
c = 0

while cnt == 0:
  n = n // k
  c += 1
  if n % k != 0:
    cnt = 1

print(n,c)

105 3

In [ ]:
25 // 2

12

In [ ]:
# n = 10 -> 12
# n = 12 -> 16
# n = 15 -> 24

In [27]:
def dis(n):               # 2,3,5만으로 끝까지 나뉘는 함수 만들기
  a = [2,3,5]             # 반복하기 위해 리스트에 2,3,5
  cnt = 0                 # while문 제어를 위한 flag 역할
  for i in a:             # 반복문 시작
    while cnt == 0:       # flag가 바뀌지 않는 한 계속 반복한다
      k = n % i           # 받은 n에 2,3,5 순서대로 넣어서 나머지값을 받음
      if k == 0:          # 받은 나머지값이 0이면, 즉 나눠 떨어지면
        n = n // i        # n을 해당 2,3,5 값으로 나눈 값을 다시 위로 보내서 반복
      else:               # 받은 나머지값이 0이 아니면
        break             # while문을 멈추고 다음 수(2,3,5)로 넘어간다
  return n                # 이렇게 반복문을 마치고 난 최종 n값을 반환

c = int(input('input = '))  # c번째 받을 c를 입력받는다
d = [1]                     # 1은 기본적으로 넣고 시작
for j in range(2,c*c):      # 반복문 시작
  if dis(j) == 1:           # dis 함수에 j를 넣은 값, 즉 최종값이 1이면
    d.append(j)             # 2,3,5만으로 나뉘었다는 뜻이므로 그 j를 d에 추가
  else:                     # 그런데 1이 아니면, 즉 2,3,5와 배수 외에 다른 수가 인수로 포함되면
    pass                    # 그 값은 패스한다
  if len(d) > c:            # 그리고 계산상의 편의를 위해 c보다 d의 길이가 커지면
    break                   # 전체 계산을 종료한다
print(d[c-1])               # 마지막에서 전 값이 c번째 값이 된다

input = 15
24