In [2]:
1+1

2

In [3]:
a = int(input("숫자 입력 : "))
print("{}*2 = {}".format(a,a*2))

숫자 입력 : 5
5*2 = 10

In [4]:
a = 1
b = 2
print("a = {}, b = {}".format(a,b))

a = 1, b = 2

In [5]:
a = "python"
a

'python'

In [9]:
#if문 - 매우 중요!
#if문은 반드시 들여쓰기를 해줘야 한다.
a = 3
if a > 2 :
    print(%d,"is greater than 2",a)

SyntaxError: invalid syntax (<ipython-input-9-dbbe8be15966>, line 4)

In [ ]:
#for문 - 매우 중요!
for a in range(1,5) :
    print(a)

In [28]:
#while문 - 몇번을 돌릴지를 정의하는 것이 중요하다
i = 0
while (i < 3) :
    i = i + 1
    print(i)

1
2
3

In [33]:
#함수
def add(a,b) :    #def 함수이름(함수의 인수)
    return a + b #함수의 반환값을 정의

add(3,4)         #함수의 실행

7

In [34]:
###########################################################
#자료형 - 숫자형

In [39]:
int(7/3), 7%3,

(2, 1)

In [40]:
# a % b 에서 값(=나머지)이 0이면 a는 b의 배수이다
# b = 2일때 a % b = 0이면 a는 짝수이자 2의 배수
# b = 2일때 a % b = 1이면 a는 홀수

In [41]:
###########################################################
#자료형 - 문자형

In [43]:
a = "123" #여기서"" 혹은 ''에 들어가면 값이 숫자라 하더라도 a는 문자형 변수가 된다
a

'123'

In [48]:
#문자열 안에 ''를 쓰고 싶을 때는 바깥에 ""를 사용
"Python is 'good'"

"Python is 'good'"

In [49]:
#문자열 안에 ""를 쓰고 싶을 때는 바깥에 ''를 사용
'Python is "good"'

'Python is "good"'

In [50]:
'Python\'

SyntaxError: EOL while scanning string literal (<ipython-input-50-5920f57249f9>, line 1)

In [52]:
"\"python is very good.""\ he says"

'"python is very good.\\ he says'

In [54]:
#여러 줄인 문자열을 변수에 대입하려면
multi = "Life is too short\nyou need python"
multi

'Life is too short\nyou need python'

In [56]:
multiline = '''
Life is too short
You need Python
'''
multiline

'\nLife is too short\nYou need Python\n'

In [57]:
print(multiline)

Life is too short
You need Python

In [59]:
head = "life"
body = " is "
feet = "good"
head + body + feet   #문자열 합치기

'life is good'

In [65]:
a = "python "
a * 3  #문자열의 곱은 문자열을 n번 반복하는 의미

'python python python '

In [66]:
print('*' * 60)

************************************************************

In [67]:
#문자열의 길이 구하기
a = "life is good"
len(a) #스페이스바 공간도 문자의 하나로 친다.

12

In [69]:
def ran(a,b) :
    if a % 2 == 0 and b % 2 == 0 :
        print("{}와 {}는 짝수입니다.".format(a,b))
    else :
        print("{}와 {} 중 적어도 하나는 짝수가 아닙니다.".format(a,b))

ran(2,3)

2와 3 중 적어도 하나는 짝수가 아닙니다.

In [71]:
a = "life is too short"
a[0], a[1], a[2], a[:] #파이썬은 0에서부터 숫자를 센다(참고 : R은 1에서 시작)
# [] 안에 번호를 매기는 것을 인덱싱이라 한다

('l', 'i', 'f', 'life is too short')

In [72]:
a[-1] #문자열의 맨 끝을 잡을 때는 인덱싱이 -1이 된다

't'

In [79]:
a[0:4], a[0:], a[:-5], a[1:-1]
# a[1:-1]같은 경우는 a[1]부터 a의 마지막 1자리를 제외하고 전 범위를 뽑는다

('life', 'life is too short', 'life is too ', 'ife is too shor')

In [83]:
a = "pithon"
a[0] + 'y' + a[2:]
#문자열은 immunable하다(부분을 바꾼다고 바꿀 수 없다.)
#slicing을 통해서만 변형 가능

'python'

In [84]:
'I eat %d apples' % 3

'I eat 3 apples'

In [94]:
a = 3
b = 2
print('I eat %d apples and %d bananas' % (a,b))

I eat 3 apples and 2 bananas

In [95]:
a = 'five'
print('I eat %s apples' % a)

I eat five apples

In [96]:
a = 'python'
print('{}'.format(a))

python

In [111]:
print('{:*^10}'.format('abcd'))

***abcd***

In [112]:
'%0.4f'%3.41567954

'3.4157'

In [114]:
'%4f' % 12345798123456

'12345798123456.000000'

In [116]:
'I eat {} apples'.format(3)

'I eat 3 apples'

In [123]:
print('{:#^10}{}{:$^10}'.format('','hello',''))

##########hello$$$$$$$$$$

In [128]:
'{0:<5}'.format('hi')

'hi   '

In [130]:
#문자열 안에서 특정 조건의 개수를 세는 함수 count
a = 'life goes on'
a.count('o')

2

In [133]:
#문자열 안에서 특정 조건의 위치를 알려주는 함수 find
a = 'life goes on'
a.find('z')
#a 안에 'z'가 존재하지 않으면 값은 -1이 뜨게 된다

-1

In [136]:
#문자열 안에서 특정 조건의 위치를 알려주는 index 함수
a = 'life is short. you need python'
a.index('z')
#a 안에 'z'가 존재하지 않으면 에러 메시지를 출력

ValueError: substring not found

In [140]:
#문자열 삽입 함수 join
a = "정말대다나다"
'.'.join(a)

'정.말.대.다.나.다'

In [143]:
#소문자를 모두 대문자로 바꾸는 upper 함수(대문자는 그대로)
a = 'abcD'
a.upper()
#a의 문자열이 모두 대문자가 되었다는 것은 아니며, 그저 대문자로 바꿔서
#보여줄 뿐이다

'ABCD'

In [144]:
#대문자를 모두 소문자로 바꾸는 lower 함수(소문자는 그대로)
a = 'ABcd'
a.lower()
#upper와 같이 값이 바뀐게 아니라 그저 소문자로 바꿔서 보여줄 뿐

'abcd'

In [146]:
#양쪽 공백을 지우는 strip 함수
a = '   bc '
a.strip()
#공백이 몇 칸이건 모두 지운다

'bc'

In [147]:
a = '%%%bc%'
a.strip('%')
#이와 같이 strip 안에 제거하고자 하는 문자를 입력하면 된다

'bc'

In [148]:
a = ' life goes on '
a.strip(' ')
#이와 같이 맨 양끝의 문자들만 날린다

'life goes on'

In [149]:
#문자열을 바꾸는 replace 함수
a = 'life is too short'
a.replace('life', 'practice')
#replace(바꾸고 싶은 위치, 바꾸고자 하는 문자열)

'practice is too short'

In [157]:
#문자열을 나누는 split 함수
a = 'life is too short. you need python'
a.split(' ')

['life', 'is', 'too', 'short.', 'you', 'need', 'python']

In [155]:
a = 'life is too short. you need python'
a.split('.')
#이와 같이 split 안에 문자열 구별 기준을 달리 할 수 있다.

['life is too short', ' you need python']

In [158]:
#이렇게 리스트 안에 넣을 수도 있다.
b = []
b = a.split(' ')
b

['life', 'is', 'too', 'short.', 'you', 'need', 'python']

In [159]:
#################################################
#리스트

In [165]:
# 리스트이름 = [요소1, 요소2, 요소3, ....]

a = [] #리스트 초기화할 때 많이 사용
b = [1,2,3]
c = ['a', 'bc', 'defg']
d = ['a', 123, 'b4df5']
e = ['a', ['123', '4d65%', 'ㅅㅅ']] #리스트 안에 리스트를 넣어서 사용 가능
a, b, c, d, e

([],
 [1, 2, 3],
 ['a', 'bc', 'defg'],
 ['a', 123, 'b4df5'],
 ['a', ['123', '4d65%', 'ㅅㅅ']])

In [168]:
#리스트의 slicing
a = [1,2,3,4,'abc','bdef']
a[0:3], a[:], a[1:-1]

([1, 2, 3], [1, 2, 3, 4, 'abc', 'bdef'], [2, 3, 4, 'abc'])

In [172]:
#리스트 안의 성분 중 숫자는 숫자끼리, 문자는 문자기끼리 연산 가능
a[0] + a[2], a[-1] + a[-2]

(4, 'bdefabc')

In [175]:
#리스트 안에 리스트가 있으면 작은 리스트는 한 덩어리로 취급된다
#그 작은 리스트도 이중 괄호를 통해 인덱스를 이용할 수 있다.
a = [1,2,3,['a','b','c','d','e','f']]
a[0], a[-1], a[-1][1:-1]

(1, ['a', 'b', 'c', 'd', 'e', 'f'], ['b', 'c', 'd', 'e'])

In [176]:
a = [1,2,3,4,5]
a[0:2] #2는 포함하지 않는다. 즉 a[0]과 a[1]까지만 나온다

[1, 2]

In [181]:
#리스트 더하기/곱하기
a = [1,2,3,['a','b']
b = [4,5,6,9,63]
a + b, a*2

([1, 2, 3, ['a', 'b'], 4, 5, 6, 9, 63],
 [1, 2, 3, ['a', 'b'], 1, 2, 3, ['a', 'b']])

In [183]:
len(a), len(a*2)
#a의 경우 리스트 안에 리스트가 있어도 덩어리로 취급하기에 하나로 취급된다

(4, 8)

In [188]:
a = [1,2,3]
str(a[2]) + 'hi'
#3 + 'hi'과 같이 파이썬에서 숫자와 문자의 연산은 불가능하다
#굳이 계산하려면 str(3) + 'hi' 식으로 숫자를 문자화한 뒤 계산하는 것만 가능하다

'3hi'

In [189]:
#리스트의 수정과 삭제
#리스트의 값을 수정 및 삭제 가능

In [196]:
a = [1,2,3]
a[1] = 10
a[2] = 6
a

[1, 10, 6]

In [200]:
#del을 사용한 리스트 요소 삭제
a = [1,2,3,4,5,6]
del(a[1:3])
a

[1, 4, 5, 6]

In [204]:
#리스트에 요소를 추가하는 append 함수(중요!)
a = [1,2,3]
a.append(4)
a.append(['a','b','c']) #리스트 안에 리스트도 추가 가능하다
print(a)

[1, 2, 3, 4, ['a', 'b', 'c']]

In [206]:
#리스트를 정렬하는 sort 함수
a = [1,3,2,6,34,4,5]
a.sort() #숫자의 경우 오름차순으로 정리
a

[1, 2, 3, 4, 5, 6, 34]

In [208]:
#리스트를 뒤집는 reverse 함수
#역순으로 그대로 뒤에서부터 뒤집는다.
a = [1,2,3,4]
a.reverse()
a

[4, 3, 2, 1]

In [227]:
a = ['a', 'c', 'b']
a.sort() #sort는 숫자뿐만이 아닌 문자도 순서대로 정렬할 수 있다.
a.reverse()
a

['c', 'b', 'a']

In [231]:
#위치를 반환하는 index 함수
a = [1,2,3]
a.index(3)

2

In [233]:
a.sort(),a

(None, [1, 2, 3])